body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    padding: 16px;
}

header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.add-animal {
    margin-bottom: 20px;
}

.card-add {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-add img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.add-text p {
    margin: 0;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.card-add button {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
}

.animal-list h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.animal-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
}

.animal-card img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.animal-info {
    flex-grow: 1;
}

.animal-info p {
    margin: 4px 0;
    font-size: 14px;
}

.animal-name {
    font-size: 16px;
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
    padding: 8px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer nav {
    display: flex;
    justify-content: space-around;
}

.navegacao img {
    width: 25px;
    height: 25px;
}
